* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.logo {
    height: 3vh;
}
ul {
    margin-left: 60px;
}
.d-lists {
    padding-top: 12px;
    font-size: larger;
    font-weight:500;
    background-color: aqua;
}
.d-lists li:hover {
    transform: scale(1.1);
    color: black;
    font-size: 20px;
}
.home-btn {
    color: white;
    background-color: lightgrey;
}
.signup-btn {
    margin-left: 12px;
}
.part1  {
    padding: 20px;
}
.part2 {
    padding-left: 20px;
}
.part-1 {
    display: flex;
}
.who-we-are {
    padding-top: 10px;
    background-color: lightgrey;
    border-radius: 10px;
}
.leaders-img {
    width: 90px;
    border-radius: 50px;
}
.col {
    text-align: center;
    background-color: lightgrey;    
    border-radius: 10px;
    margin: 20px;
}
.cart {
    
}
.btn {
    color: white;
    border: 1px lightgray;
    background-color: lightgray;
    margin-left: 10px;
    font-weight: bold;
}