* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.d-lists {
    font-size: larger;
    font-weight:500;
    padding-top: 12px;
}
.d-lists li:hover {
    transform: scale(1.1);
    color: black;
    font-size: 20px;
}
.content {
    margin-top: 50px;
}
.part2{
    padding-left: 22px;
}
.imgs {
    width: 525px;
    height: 50vh;
    aspect-ratio: 4/3;
    border-radius: 10px;
}
.sub-btn {
    margin-left: 235px;
    font-weight: bold;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 6vh;
    color: white;
}
.social-icons {
    margin-left: 180px;
    cursor: pointer;
} 
.cart {
    margin-right: 40px;
    margin-top: 16px;
}
.btn {
    margin-top: 12px;
    color: white;
    border: 1px lightgray;
    background-color: lightgray;
    margin-left: 10px;
    font-weight: bold;
}