* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: hsl(0, 0%, 100%);
}
.d-lists {
  font-size: larger;
  font-weight: 500;
  padding-top: 11px;
}
.d-lists li:hover {
  transform: scale(1.1);
  color: black;
  font-size: 20px;
}
.home-cont {
  margin-top: 50px;
}
.home-text {
  text-align: center;
}
h1 {
  margin: 20px 0 15px 0;
}
.to {
  margin: 10px 0 10px 0;
}
.pgraph {
  font-size: 19px;
  padding-bottom: 25px;
}
.home-logo {
  width: auto;
  height: 50px;
  margin-bottom: 40px;
}
.cart {
  margin-right: 40px;
  margin-top: 16px;
}
.btn {
  margin-top: 12px;
  color: white;
  border: 1px lightgray;
  background-color: lightgray;
  margin-left: 10px;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gainsboro;
}
