* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffffa;
}

.navbar-nav > li {
  margin-left: 20px;
}
/* nav links */
.nav-link {
  font-size: 18px;
  color: #000;
}
/* body/main */
main {
  margin-top: 15vh;
}
